@use "./base/reset";
@use "./layout/aside";
@use "./components/nav";
@use "./layout/stickybar";
@use "./layout/offers";
@use "./layout/body";
@use "./layout/hover-element";
@use "./layout/ar-container";
@use "./layout/footer";
@use "./components/bag";

body {
  background-color: #000;
  color: #f5f5f7;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
