@use "../abstract/colors" as *;
@use "../abstract/mixin" as *;

.offers {
  background-color: $bg-offer;
  width: 100%;
  padding: 0.9411rem 0;
  font-size: 12px;
  animation: blueDrop 2s;
  &-container {
    text-align: center;
    p {
      a {
        color: $blue;
        text-decoration: none;
        font-weight: lighter;

        &:hover {
          text-decoration: underline;
        }
        i {
          margin-left: 4px;
          font-size: 10px;
        }
      }
    }
  }
}
@keyframes blueDrop {
  0% {
    margin-top: -50px;
    opacity: 0;
    background-color: $blue;
  }
  35% {
    margin-top: 0px;
    background-color: $blue;
  }
  70% {
    margin-top: 0px;
    background-color: $blue;
  }
}
