@use "../abstract/colors" as *;
@use "../abstract/mixin" as *;

.stickybar {
  @include flex;
  position: sticky;
  top: 0;
  height: 52px;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  &-container {
    @include flex;
    max-width: 980px;
    width: 100%;
    margin: auto;
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    &-left {
      a {
        color: $white;
        text-decoration: none;
        font-size: 21px;
        opacity: 0.8;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
    &-right {
      @include flex;
      font-size: 12px;
      color: $white;
      width: 20%;
      .link1 {
        a {
          opacity: 0.56;
          color: $white;
          text-decoration: none;
        }
      }
      .link2 {
        a {
          opacity: 0.92;
          color: $white;
          text-decoration: none;

          &:hover {
            opacity: 1;
            color: #2997ff;
          }
        }
      }
      .buy-btn {
        text-align: center;
        background-color: #0071e3;
        color: $white;
        font-size: 12px;
        padding: 4px 11px;
        border-radius: 12px;
      }
    }
  }
}
